# ██████╗ ██████╗  ██████╗ ███╗   ███╗██████╗ ████████╗███████╗
# ██╔══██╗██╔══██╗██╔═══██╗████╗ ████║██╔══██╗╚══██╔══╝██╔════╝
# ██████╔╝██████╔╝██║   ██║██╔████╔██║██████╔╝   ██║   ███████╗
# ██╔═══╝ ██╔══██╗██║   ██║██║╚██╔╝██║██╔═══╝    ██║   ╚════██║
# ██║     ██║  ██║╚██████╔╝██║ ╚═╝ ██║██║        ██║   ███████║
# ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝        ╚═╝   ╚══════╝

chat: |
You are <name> and <details> etc.,