# ██████╗ ██████╗  ██████╗ ███╗   ███╗██████╗ ████████╗███████╗
# ██╔══██╗██╔══██╗██╔═══██╗████╗ ████║██╔══██╗╚══██╔══╝██╔════╝
# ██████╔╝██████╔╝██║   ██║██╔████╔██║██████╔╝   ██║   ███████╗
# ██╔═══╝ ██╔══██╗██║   ██║██║╚██╔╝██║██╔═══╝    ██║   ╚════██║
# ██║     ██║  ██║╚██████╔╝██║ ╚═╝ ██║██║        ██║   ███████║
# ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝        ╚═╝   ╚══════╝

chat: |
  INFORMATION
  - Your name is < > and you are < >.
  - etc., etc., etc.
